<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: #004a9f;">
      <app-sidenav></app-sidenav>
    </div>
    <div class="col py-3">
      <button mat-raised-button (click)="openPanel()">Chamar Paciente</button>
      <mat-horizontal-stepper style="margin-top:10px" linear #stepper>
        <!-- Forms Patients-->
        <mat-step label="Step 1" errorMessage="Name is required.">
          <form [formGroup]="formAvaliatePatient">
            <div class="row" style="width:100%">
              <ng-template matStepLabel>Paciente</ng-template>
              <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Digite seu nome" formControlName="name" readonly="true">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Sobrenome</mat-label>
                <input matInput placeholder="Digite seu sobrenome" formControlName="lastName">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Idade</mat-label>
                <input type="number" matInput placeholder="Digite sua idade" formControlName="age" maxlength="2">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Cpf</mat-label>
                <input matInput placeholder="Digite seu cpf" maxlength="14" formControlName="cpf">
              </mat-form-field>
              <mat-radio-group aria-label="Select an option" name="rdbutton">
                <span style="color:gray">Paciente Preferêncial:</span>
                <mat-radio-button [checked]="radioValue" [disabled]="true" name="rdbPrefential" value="true">Sim
                </mat-radio-button>
                <mat-radio-button [checked]="!radioValue" [disabled]="true" name="rdbPrefential" value="false">Não
                </mat-radio-button>
              </mat-radio-group>
              <div>
                <button [disabled]="formAvaliatePatient.invalid" mat-raised-button matStepperNext
                  color="primary">Next</button>
              </div>
            </div>
          </form>
        </mat-step>

        <!-- Forms Avaliate-->
        <mat-step label="Step 2">
          <form [formGroup]="formSortingPatient">
            <div class="row" style="width:100%">
              <ng-template matStepLabel>Triagem</ng-template>
              <mat-form-field appearance="outline" *ngIf="isMinusAge == false">
                <mat-label>Pressão Arterial</mat-label>
                <input type="number" matInput placeholder="Pressão arterial" formControlName="pressureBlood"
                  maxlength="4">
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="isMinusAge == true">
                <mat-label>Pressão Arterial</mat-label>
                <input type="number" formControlName="pressureBlood" value="0.0" readonly matInput maxlength="4">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Temperatura Corporal</mat-label>
                <input type="number" matInput placeholder="Temperatura Corporal" formControlName="temperature">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Saturação</mat-label>
                <input type="number" matInput placeholder="Saturação" formControlName="saturation">
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="isMinusAge == false">
                <mat-label>Diabetes</mat-label>
                <input type="number" matInput placeholder="Medição de Diabete" formControlName="meditionDiabetes">
              </mat-form-field>
              <mat-form-field appearance="outline" *ngIf="isMinusAge == true">
                <mat-label>Diabetes</mat-label>
                <input type="number" matInput placeholder="Medição de Diabete" readonly
                  formControlName="meditionDiabetes">
              </mat-form-field>
                <mat-radio-group  aria-label="Select an option"  (change)="radioChange($event)">
                  <span style="color:red">Nivel de Atendimento:</span>
                  <mat-radio-button value="NOT_URGENT">Não Urgencia</mat-radio-button>
                  <mat-radio-button value="LITTLE_URGENT">Pouca Urgência</mat-radio-button>
                  <mat-radio-button value="URGENT">Urgência</mat-radio-button>
                  <mat-radio-button value="EMERGENCY">Emergência</mat-radio-button>
                </mat-radio-group>
              <textarea formControlName="observation" maxlength="300" cols="30" rows="10"></textarea>
              <div>
                <button style="margin:10px" mat-raised-button matStepperPrevious color="accent">Back</button>
                <button [disabled]="formSortingPatient.invalid" (click)="creteAvaliatePatient()" mat-raised-button matStepperNext
                  color="primary">Salvar</button>
              </div>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
      <div class="video">
        <video autoplay width="200" height="200" src={{videoUrl}}></video>
      </div>
    </div>
  </div>
</div>

