<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: #004a9f;">
      <app-sidenav></app-sidenav>
    </div>
    <div class="col py-3">
      <mat-horizontal-stepper style="margin-top:10px" linear (selectionChange)="selectionChangeSteps($event)" #stepper>
        <!-- Forms Patients-->
        <mat-step label="Step 1" errorMessage="Name is required.">
          <form [formGroup]="formEditPatient">
            <div class="row" style="width:100%">
              <ng-template matStepLabel>Atualizar Paciente</ng-template>
              <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Digite seu nome" formControlName="name" required>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Sobrenome</mat-label>
                <input matInput placeholder="Digite seu sobrenome" formControlName="lastName" required>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Idade</mat-label>
                <input type="number" matInput placeholder="Digite sua idade" formControlName="age" maxlength="2">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Cpf</mat-label>
                <input matInput placeholder="Digite seu cpf" maxlength="14" formControlName="cpf" required>
              </mat-form-field>
              <mat-radio-group cke  aria-label="Select an option" formControlName="isPreferential"
                (change)="radioChange($event)" name="rdbutton">
                <span style="color:red">Paciente Preferêncial:</span>
                <mat-radio-button [checked]="radioValue"  name="rdbPrefential" value="true">Sim</mat-radio-button>
                <mat-radio-button [checked]="!radioValue"  name="rdbPrefential" value="false">Não</mat-radio-button>
              </mat-radio-group>
              <div>
                <button [disabled]="formEditPatient.invalid" mat-raised-button matStepperNext color="primary">Next</button>
              </div>
            </div>
          </form>
        </mat-step>

        <!-- Forms Doctor-->
        <mat-step label="Step 2">
          <form [formGroup]="formEditDoctor">
            <div class="row" style="width:100%">
              <mat-form-field appearance="outline">
                <mat-label>Selecione a especialidade</mat-label>
                <mat-select  [value]="selectValueSpecialtiesDoctor"  (selectionChange)="valueSelectSpecialties($event)" name="specialties">
                  <mat-option *ngFor="let doctor of doctors" [value]="doctor.specialties">
                    {{doctor.specialties}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Selecione o Medico</mat-label>
                <mat-select [value]="selectValueNameDoctor"  (selectionChange)="valueSelectDoctorName($event)">
                  <mat-option  *ngFor="let nameDoctor of doctorsNames" [value]="nameDoctor.name">
                    {{nameDoctor.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <ng-template matStepLabel>Atualizar Médico</ng-template>
              <mat-form-field appearance="outline">
                <mat-label>Crm</mat-label>
                <input matInput placeholder="Crm do Médico" formControlName="crm" readonly="true">
              </mat-form-field>
              <div>
                <button style="margin:10px" mat-raised-button matStepperPrevious color="accent">Back</button>
                <button [disabled]="formEditDoctor.invalid" mat-raised-button matStepperNext color="primary">Next</button>
              </div>
            </div>
          </form>
        </mat-step>

        <!-- Forms Room-->
        <mat-step label="Step 3">
          <ng-template matStepLabel>Atualizar Consultório</ng-template>
          <form [formGroup]="formEditRoom">
            <div class="row" style="width:100%">
              <mat-form-field appearance="outline">
                <mat-label>Selecione a Sala</mat-label>
                <mat-select [value]="selectValueRoom" (selectionChange)="valueSelectRoom($event)">
                  <mat-option *ngFor="let room of rooms" [value]="room.numberRoom">
                    {{room.numberRoom}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <button style="margin:10px" mat-raised-button matStepperPrevious color="accent">Back</button>
                <button [disabled]="formEditRoom.invalid" mat-raised-button (click)="updateConsult()" color="primary">Salvar</button>
              </div>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </div>

  </div>
</div>
